@charset "utf-8";
/*public css*/
body, h1, h2, h3, h4, h5, h6,p, blockquote, dl, dt, dd, ul, ol, li, pre,figure{margin:0;padding:0;}
body{font: 12px "微软雅黑", Arial, Helvetica, sans-serif; background: #f5f5f5;}
a {text-decoration:none;} 
img { border: none; display: block; } 
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; } 
.clear:after { clear: both;content:'';display:block;hight:0;visibility:hidden; }
.clear{zoom:1;}
li{list-style:none;}
.blank { height: 5px; overflow: hidden; width: 100%; margin: auto; clear: both }
/*header*/
.ibody {width: 1000px; margin:0 auto;  }
header { position: relative; height:134px;}
header img{position: absolute;top:0;right:0;animation: run 4s ease-in 1s;}
@keyframes run{
    from{opacity:0;filter:alpha(opacity=0);}
    to{transform: translateX(-800px);opacity: 1;filter: alpha(opacity=100);}
}
header h1 { padding: 15px 0 ; font:30px/40px "微软雅黑";color: #8e8d8d;width:100%;}
header h2 { color: #8e8d8d; width:100%;padding:20px 0;}
/*nav*/
nav{position: relative;}
nav li{float:left;}
nav a {font:18px/48px "微软雅黑"; color: #FFF; padding: 0 20px;transition: all 1s; background: rgba(0,0,0,0.5);display:block;} 
nav a:hover { background: #e41635; }
nav .active{background:red;} 
nav li:last-child {background:rgba(0,0,0,0);color:#000;height:48px;font:18px/48px "微软雅黑";position: absolute;right: 40px;top: 0;}

/*banner*/
#banner {width:100%;height:344px;position:relative;overflow:hidden;z-index:2;margin-top:10px;}
#banner ul {width:970px;height:344px;position:absolute;left:0;top:0;}
#banner ul li {position:absolute;}
#banner ul a {border:4px #FFFFFF solid;position:absolute;left:0;top:0;z-index:1;background:url(#);}
#banner ul img{position:relative;left:0;top:0;z-index:2}
#banner .pos_0, #banner .pos_6 {filter:alpha(opacity=0);opacity:0;} 
#banner .pos_1, #banner .pos_5 {filter:alpha(opacity=60);opacity:0.6;}
#banner .pos_2, #banner .pos_4 {filter:alpha(opacity=80);opacity:0.8;}
#banner .pos_0 {left:0;top:-104px;z-index:1;}
#banner ul .pos_1 {left:0;top:92px;z-index:2;}
#banner ul .pos_2 {left:48px;top:40px;z-index:3;}
#banner ul .pos_3 {left:140px;top:0;z-index:4;}
#banner ul .pos_4 {right:48px;top:40px;z-index:3;}
#banner ul .pos_5 {right:0;top:92px;z-index:2;}
#banner ul .pos_6 {right:0;top:-104px;z-index:1;}
#banner .pos_0 a {width:92px;height:43px}
#banner .pos_1 a, #banner .pos_5 a, #banner .pos_6 a {width:262px;height:129px;} 
#banner .pos_2 a, #banner .pos_4 a {width:502px;height:250px;}
#banner .pos_3 a {width:672px;height:336px;}
#banner .pos_0 img {width:100px;} 
#banner .pos_1 img, #banner .pos_5 img, #banner .pos_6 img {width:270px;} 
#banner .pos_2 img, #banner .pos_4 img {width:510px;}
#banner .pos_3 img {width:680px;}

#banner .mask {width:104px;height:72px;position:absolute;z-index:6;cursor:pointer;filter:alpha(opacity=0);opacity:0;}
#banner div.left {left:88px;top:128px;background:red;}
#banner div.right {right:97px;top:128px;background:green;}

#banner a.btn {width:120px;height:110px;position:absolute;z-index:5;cursor:default;}
#banner a.prev{left:72px;top:108px;}
#banner a.next{right:81px;top:108px;}
#banner a.btn span{width:60px;height:60px;display: block; position:absolute;text-align: center;line-height: 60px;color:#fff;}
#banner a.btn .ico1{filter:alpha(opacity=0);opacity:0;z-index:2;}
#banner a.btn .txt{width:106px;filter:alpha(opacity=0);opacity:0;}
#banner a.prev .ico{left:0;top:30px;background:rgba(0,0,0,0.2);border-radius: 50%;}
#banner a.prev .ico1{left:0;top:30px;background:rgba(0,0,0,0.4);border-radius: 50%;font-size:30px;}
#banner a.prev .txt{left:68px;top:30px;background:rgba(0,0,0,0.4);text-align: right;}
#banner a.next .ico{right:0;top:30px;background:rgba(0,0,0,0.2);border-radius: 50%;}
#banner a.next .ico1{right:0;top:30px;background:rgba(0,0,0,0.4);border-radius: 50%;font-size: 30px;}
#banner a.next .txt{right:69px;top:30px;background:rgba(0,0,0,0.4);text-align: left;}


article { width: 73%; float: left; margin-top:5px;  }
aside { width: 27%; background:#cfcfcf; float: right;margin-top:5px; padding-bottom:30px;} 
.copyright { background: #ccc; border-radius: 50%; text-align: center; color: #d8d8d8; padding: 20px; margin: 60px 20px 0 20px; border: #1b1a1a 1px solid; }
.copyright p { line-height: 26px; text-shadow: #000 1px 1px 1px }
.copyright p a { color: #d8d8d8; }
