@charset "utf-8";
/* media css Document */
@media screen and (max-width: 1000px) {
  .ibody { width: 100%;   margin: auto;  box-shadow: 0rem 0.04rem 0.1rem #666666;  }
  article {  float: none;  width: 100%;  }
  article {  background: #ffffff;  }
  aside,  .dateview {  display: none;  }
  nav { padding-left: 0;   text-align: center; }
  nav a {  padding: 0 0.1rem;  }
  .banner {  background-size: auto;   height: 2.6rem;  font-size: 0.24rem;  font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif; }
  .texts { line-height: 0.72rem; padding: 0.4rem 0 0 0.2rem;   text-shadow: 0.02rem 0.02rem rgba(255, 255, 255, 0.3);  }
  .blogs::after {
    background: none;
  }
  .autor span {
    margin: 0 0.1rem;
  }
  .blogs figure {
    width: 35%;
  }
  .blogs ul {
    width: 62%;
  }
}
@media screen and (max-width: 700px) {
  .ibody {
    width: 100%;
    margin: auto;
    box-shadow: 0rem 0.04rem 0.1rem #666666;
  }
  article {
    float: none;
    width: 100%;
  }
  article {
    background: #ffffff;
  }
  aside,
  .dateview {
    display: none;
  }
  nav {
    height: auto;
    line-height: 0.8rem;
    text-align: center;
    background: #FFF;
    padding-left: 0rem;
  }
  nav a {
    display: block;
    background: #323232;
    clear: both;
    margin-bottom: 0.04rem;
  }
  .logo {
    position: static;
    margin: 0 auto 0.2rem;
  }
  .banner {
    background-size: auto;
    height: 2.6rem;
    font-size: 0.24rem;
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
  }
  .texts {
    line-height: 0.72rem;
    padding: 0.4rem 0 0 0.2rem;
    text-shadow: 0.02rem 0.02rem rgba(255, 255, 255, 0.3);
  }
  .blogs::after {
    background: none;
  }
  .autor span {
    margin: 0 0.1rem;
  }
  .blogs figure {
    width: 35%;
  }
  .blogs ul {
    width: 62%;
  }
  #wrap {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .ibody {
    width: 100%;
    margin: auto;
    box-shadow: 0rem 0.04rem 0.1rem #666666;
    -webkit-select: none ;
  }
  article {
    float: none;
    width: 100%;
  }
  article {
    background: #ffffff;
  }
  header h1 {
    font: 30/50rem/40/50rem "微软雅黑";
    color: #8e8d8d;
    width: 12rem;
  }
  header h2 {
    color: #8e8d8d;
    width: 12rem;
  }
  header img {
    visibility: hidden;
  }
  aside,
  .dateview,
  .banner,
  .bloglist h2,
  .blogs figure img,
  .newblog figure img,
  .newblog .autor {
    display: none;
  }
  nav {
    height: auto;
    line-height: 0.8rem;
    text-align: center;
    background: #FFF;
    padding-left: 0rem;
  }
  nav li {
    clear: both;
    width: 100%;
  }
  nav li:last-child {
    display: none;
  }
  nav a {
    display: block;
    background: #323232;
    clear: both;
    margin-bottom: 0.04rem;
  }
  #banner {
    display: none;
  }
  .texts {
    line-height: 0.72rem;
    padding: 0.4rem 0 0 0.2rem;
    text-shadow: 0.02rem 0.02rem rgba(255, 255, 255, 0.3);
  }
  .blogs::after,
  .newblog::after {
    background: none;
  }
  .autor span {
    margin: 0;
  }
  .blogs figure {
    width: 100%;
    float: none;
  }
  .blogs ul,
  .newblog ul {
    width: 100%;
    float: none;
  }
  .blogs {
    margin: 0 0.2rem 0.2rem 0.2rem;
  }
  #wrap {
    display: none;
  }
}
