<!doctype html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<title>Hello Dragonet-D</title>
<meta name="viewport" content="width=device-width,user-scalable=no"/>
<link rel="shortcut icon" href="../img/index.ico" />
<link href="../css/base.css" rel="stylesheet">
<link href="../css/vue.css" rel="stylesheet">
<link href="../css/media.css" rel="stylesheet">
<script type="text/javascript" src="../js/vue.js"></script> 
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<script type="text/javascript" src="../js/jQuery%20v3.1.1%20.js"></script>
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<div class="ibody">
  <header>
    <h1>精致细腻。平静淡薄。</h1>
    <h2>Dragonet-D</h2>
    <img src="../img/header-bg.png">
  </header> 
    <nav id="topnav" class="clear">
    	<li><a href="../index.html">Protal</a></li>
    	<li><a class="active" href="about.html">Vue</a></li>
    	<li><a href="newlist.html">React</a></li>
    	<li><a href="share.html">Angular</a></li>
    	<li><a href="new.html">jQuery</a></li>
    	<li><a href="javascript:;">Node</a></li>
    	<li><a href="https://github.com/Dragonet-D" target="_blank">My Github</a></li>
        <li>皮皮虾我们走</li>
    </nav>  
    <div class="about_h">location:<a href="../index.html">Protal</a> &gt;<a href="share.html">Vue</a></div>
    <div id="about_vue">
    	
    	<h3>渐进式  JavaScript 框架</h3>
    		<p>Vue.js（读音 /vjuː/, 类似于 view）是一个构建数据驱动的 web 界面的渐进式框架。Vue.js 的目标是通过尽可能简单的 API 实现响应的数据绑定和组合的视图组件。</p>
    		<p>与其他重量级框架不同的是，Vue 采用自底向上增量开发的设计。Vue 的核心库只关注视图层，并且非常容易学习，非常容易与其它库或已有项目整合。另一方面，Vue 完全有能力驱动采用单文件组件和Vue生态系统支持的库开发的复杂单页应用。</p>
    		<p>Vue.js 的目标是通过尽可能简单的 API 实现响应的数据绑定和组合的视图组件。</p>
    		<p>Vue.js 自身不是一个全能框架——它只聚焦于视图层。因此它非常容易学习，非常容易与其它库或已有项目整合。另一方面，在与相关工具和支持库一起使用时，Vue.js 也能完美地驱动复杂的单页应用。</p>
    		<h2><a href="http://cn.vuejs.org/" target="_blank">了解更多&gt;&gt;</a></h2>
    </div>
   <div id="wrap"> 
	    <div class="page-top">
	        <div class="page-content">
	            <h2>vue实例：任务计划列表</h2>
	        </div>
	    </div>
	    <div class="main">
	        <h3 class="big-title">添加任务：</h3>
	        <input 
	            placeholder="例如：吃饭睡觉打豆豆；    提示：+回车即可添加任务" 
	            class="task-input" 
	            type="text"
	            v-model="todo"
	            v-on:keyup.13="addTodo"
	        />
	        <ul class="task-count" v-show="list.length">
	            <li>{{noCheckeLength}}个任务未完成</li>
	            <li class="action">
	                <a class="active" href="#all">所有任务</a>
	                <a href="#unfinished">未完成的任务</a>
	                <a href="#finished">完成的任务</a>
	            </li>
	        </ul>
	        <h3 class="big-title">任务列表：</h3>
	        <div class="tasks">
	
	            <span class="no-task-tip" v-show="!list.length">还没有添加任何任务</span>
	            <ul class="todo-list">
	                <li class="todo" :class="{completed: item.isChecked,editing: item === edtorTodos}" v-for="item in filteredList" >
	                    <div class="view">
	                        <input class="toggle" type="checkbox" v-model="item.isChecked" />
	                        <label @dblclick="edtorTodo(item)">{{ item.title }}</label>
	                        <button class="destroy" @click="deleteTodo(item)"></button>
	                    </div>
	                    <input 
	                        v-foucs="edtorTodos === item" 
	                        class="edit" 
	                        type="text" 
	                        v-model = "item.title"
	                        @blur="edtorTodoed(item)"
	                        @keyup.13="edtorTodoed(item)"
	                        @keyup.esc="cancelTodo(item)"
	                    />
	                </li>
	            </ul>
	        </div>
	    </div>
    </div> 

   <script type="text/javascript" src="../js/header-animation.js"></script>
   <script type="text/javascript" src="../js/app.js"></script>
</div>
</body>
</html>
